.Marketing_email_input {
  background-color: #f7f8fa;
  padding: 8.5px;
  width: 60%; /* Default to full width */
  border: 2px solid #dfdfdf;
  border-radius: 4px;
  margin-top: -5px;
  margin-right: -10px;
  font-size: 16px;
}
.flag-select {
  background-color: #f7f8fa;
  width: 190px;
}
.flag-select:hover {
  background-color: #e6e6e6;
}
.profile_page_class {
  position: absolute;
  width: 102%;
  height: 600px;
  max-height: 700px;
  object-fit: cover;
  object-position: top; /* Ensures the top of the image is visible */
  border: 2px solid #000;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2); /* Corrected syntax for box-shadow */
}
.range-input {
  background-color: #f7f8fa;
  padding:4px;
  width: 60px;
  border: 2px solid #dfdfdf;
  border-radius: 4px;
  font-size: 12px;
  text-align: center;
}
.genderDropdown {
  background-color: #f7f8fa;
  padding: 4px;
  width: 120px;
  border: 2px solid #dfdfdf;
  border-radius: 4px;
  font-size: 12px;
}

.profile_page_box {
  height: 700px;
  width: 100%;
  background-image: url("../Assets/png/MarketingPage/image.png"),
    url("../Assets/png/MarketingPage/image218.png"),
    url("../Assets/png/MarketingPage/youtube.png"),
    url("../Assets/png/MarketingPage/image213.png"),
    url("../Assets/png/MarketingPage/image219.png"),
    url("../Assets/png/MarketingPage/image220.png"),
    url("../Assets/png/MarketingPage/tiktok.png");
  background-position: 10% 20%, 14% 50%, 10% 90%, 85% 5%, 86% 35%, 92% 65%,
    87% 90%;
  background-repeat: no-repeat;
  background-size: 50px 50px, 60px 80px, 60px 40px, 50px 50px, 50px 50px,
    50px 50px, 80px 80px;
  color: #000;
}

/* Media queries based on MUI breakpoints */
@media (max-width: 600px) {
  /* sm */
  .profile_page_class {
    position: absolute;
    width: 100%;
    height: 250px;
    object-fit: cover;
    object-position: top; /* Ensures the top of the image is visible */
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.2); /* Corrected syntax for box-shadow */
  }
  .profile_page_box {
    height: 250px;
    width: 100%;
    background-image: url("../Assets/png/MarketingPage/image.png"),
      url("../Assets/png/MarketingPage/image218.png"),
      url("../Assets/png/MarketingPage/youtube.png"),
      url("../Assets/png/MarketingPage/image213.png"),
      url("../Assets/png/MarketingPage/image219.png"),
      url("../Assets/png/MarketingPage/tiktok.png"),
      url("../Assets/png/MarketingPage/image220.png");
    background-position: 3% 10%, 2% 50%, 3% 90%, 100% 5%, 98% 35%, 97% 65%,
      100% 90%;
    background-repeat: no-repeat;
    background-size: 25px 25px, 30px 40px, 30px 20px, 25px 25px, 30px 30px,
      40px 40px, 30px 30px;
    color: #000;
  }
}

@media (min-width: 900px) {
  /* md */
  .Marketing_email_input {
    width: 60%; /* Medium screens, further reduce width */
  }
}

@media (min-width: 1200px) {
  /* lg */
  .Marketing_email_input {
    width: 500px; /* Large screens, set to fixed width */
  }
}
